name: Build Pages

on:
    workflow_call:

jobs:
    build-pages:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: "lts/*"

            - name: Install dependencies
              run: pnpm install

            - name: Build docs website
              run: pnpm run build --filter=@typectx/docs

            - name: Setup Pages
              uses: actions/configure-pages@v5

            - name: Upload artifact
              if: ${{ github.event_name == 'release' }}
              uses: actions/upload-pages-artifact@v4
              with:
                  path: ./packages/@typectx/docs/build
