name: Deploy

on:
    release:
        types: [published]

concurrency:
    group: "deploy"
    cancel-in-progress: false

jobs:
    gate:
        runs-on: ubuntu-latest
        if: contains(github.event.release.tag_name, '-') == false ||
            contains(github.event.release.tag_name, 'docs')
        steps:
            - name: Gate check
              run: echo "Deploy condition met"

    test:
        needs: gate
        uses: ./.github/workflows/test.yml

    build-pages:
        needs: gate
        uses: ./.github/workflows/build-pages.yml

    validate-tag:
        needs: gate
        uses: ./.github/workflows/validate-tag.yml

    deploy-pages:
        environment:
            name: github-pages
            url: ${{ steps.deploy-pages.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: [test, build-pages, validate-tag]
        permissions:
            pages: write # Required for deploying to GitHub Pages
            id-token: write # Required for OIDC with GitHub Pages
        steps:
            - name: Deploy to GitHub Pages
              id: deploy-pages
              uses: actions/deploy-pages@v4

    push-docs-branch:
        environment:
            name: docs-branch
        needs: [test, build-pages, validate-tag]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  token: ${{ secrets.TYPECTX_PROTECTED_REF_ADMIN }}

            - name: Configure Git
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "typectx-bot"

            - name: Set docs branch
              run: |
                  git fetch origin --tags
                  git branch -f docs ${{ github.event.release.tag_name }}
                  git push origin docs --force
